.elementor-14680 .elementor-element.elementor-element-412cb09f{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-7dc42e6{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-473daa8d{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-4bb5f7af{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-66adbcc4{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:2.5%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-7f46b2d8.elementor-element{--align-self:stretch;}.elementor-14680 .elementor-element.elementor-element-4b63a5c0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:03%;--margin-inline-end:0%;--padding-block-start:0rem;--padding-block-end:0rem;--padding-inline-start:01.5rem;--padding-inline-end:01.5rem;}.elementor-14680 .elementor-element.elementor-element-61c43c07 .elementor-button{font-family:"Raleway", sans-serif;font-size:18px;font-weight:700;text-transform:capitalize;text-decoration:none;line-height:2.2rem;letter-spacing:2.5px;fill:#000000;color:#000000;background-color:var( --e-global-color-accent );border-style:solid;border-color:var( --e-global-color-accent );border-radius:10px 10px 10px 10px;padding:0rem 0rem 0rem 0rem;}.elementor-14680 .elementor-element.elementor-element-61c43c07 .elementor-button:hover, .elementor-14680 .elementor-element.elementor-element-61c43c07 .elementor-button:focus{background-color:#F2C84B;border-color:#F2C84B;}.elementor-14680 .elementor-element.elementor-element-698bda13{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-33463b6a{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-437cbab5{--display:flex;--background-transition:0.3s;--margin-block-start:0rem;--margin-block-end:10rem;--margin-inline-start:0rem;--margin-inline-end:0rem;}.elementor-14680 .elementor-element.elementor-element-7fdcbef6{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-50506f50{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-2d9d10b3{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-2ba960ce{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-1e8c1ad8{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-42ed7ceb .elementor-swiper-button{font-size:20px;}.elementor-14680 .elementor-element.elementor-element-52abc9a8{--display:flex;--background-transition:0.3s;}.elementor-14680 .elementor-element.elementor-element-397c145d.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-14680 .elementor-element.elementor-element-397c145d.elementor-wc-products ul.products li.product .star-rating{color:var( --e-global-color-secondary );}.elementor-14680 .elementor-element.elementor-element-397c145d.elementor-wc-products ul.products li.product .star-rating::before{color:var( --e-global-color-secondary );}.elementor-14680 .elementor-element.elementor-element-397c145d.elementor-wc-products ul.products li.product span.onsale{display:block;}.elementor-14680 .elementor-element.elementor-element-31364221{--display:flex;--background-transition:0.3s;--padding-block-start:20rem;--padding-block-end:20rem;--padding-inline-start:0rem;--padding-inline-end:0rem;}.elementor-14680 .elementor-element.elementor-element-31364221:not(.elementor-motion-effects-element-type-background), .elementor-14680 .elementor-element.elementor-element-31364221 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://dev.rositarealfoods.co.nz/wp-content/uploads/sites/2/2024/03/waves-bg.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-14680 .elementor-element.elementor-element-31364221, .elementor-14680 .elementor-element.elementor-element-31364221::before{--border-transition:0.3s;}@media(min-width:768px){.elementor-14680 .elementor-element.elementor-element-4bb5f7af{--width:100%;}.elementor-14680 .elementor-element.elementor-element-66adbcc4{--width:60%;}.elementor-14680 .elementor-element.elementor-element-4b63a5c0{--width:40rem;}.elementor-14680 .elementor-element.elementor-element-698bda13{--width:100%;}.elementor-14680 .elementor-element.elementor-element-7fdcbef6{--width:100%;}.elementor-14680 .elementor-element.elementor-element-31364221{--width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-14680 .elementor-element.elementor-element-7dc42e6{--width:100%;}.elementor-14680 .elementor-element.elementor-element-66adbcc4{--width:41.66666667%;}.elementor-14680 .elementor-element.elementor-element-4b63a5c0{--width:40rem;}.elementor-14680 .elementor-element.elementor-element-31364221{--width:100%;}}@media(max-width:1024px){.elementor-14680 .elementor-element.elementor-element-7dc42e6{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:0%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-473daa8d{--padding-block-start:0%;--padding-block-end:0%;--padding-inline-start:2.5%;--padding-inline-end:2.5%;}.elementor-14680 .elementor-element.elementor-element-401d323f > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-14680 .elementor-element.elementor-element-66adbcc4{--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:02.5%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-4b63a5c0{--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:3%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-61c43c07 .elementor-button{font-size:13px;letter-spacing:2.5px;border-radius:10px 10px 10px 10px;padding:0rem 0rem 0rem 0rem;}.elementor-14680 .elementor-element.elementor-element-437cbab5{--margin-block-start:018rem;--margin-block-end:10rem;--margin-inline-start:0rem;--margin-inline-end:0rem;}.elementor-14680 .elementor-element.elementor-element-397c145d.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-14680 .elementor-element.elementor-element-31364221:not(.elementor-motion-effects-element-type-background), .elementor-14680 .elementor-element.elementor-element-31364221 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-14680 .elementor-element.elementor-element-31364221{--padding-block-start:20rem;--padding-block-end:20rem;--padding-inline-start:0rem;--padding-inline-end:0rem;}}@media(max-width:767px){.elementor-14680 .elementor-element.elementor-element-412cb09f{--width:100%;}.elementor-14680 .elementor-element.elementor-element-7dc42e6{--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:0%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-473daa8d{--padding-block-start:0rem;--padding-block-end:0rem;--padding-inline-start:1.5rem;--padding-inline-end:1.5rem;}.elementor-14680 .elementor-element.elementor-element-4bb5f7af{--padding-block-start:0rem;--padding-block-end:0rem;--padding-inline-start:1.5rem;--padding-inline-end:1.5rem;}.elementor-14680 .elementor-element.elementor-element-66adbcc4{--width:100%;--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:0%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-4b63a5c0{--width:100%;--margin-block-start:0%;--margin-block-end:0%;--margin-inline-start:0%;--margin-inline-end:0%;}.elementor-14680 .elementor-element.elementor-element-61c43c07 .elementor-button{font-size:13px;letter-spacing:2.5px;border-radius:10px 10px 10px 10px;padding:0rem 0rem 0rem 0rem;}.elementor-14680 .elementor-element.elementor-element-61c43c07 > .elementor-widget-container{margin:2.5rem 0rem 0rem 0rem;}.elementor-14680 .elementor-element.elementor-element-61c43c07{width:100%;max-width:100%;}.elementor-14680 .elementor-element.elementor-element-437cbab5{--margin-block-start:10rem;--margin-block-end:10rem;--margin-inline-start:0rem;--margin-inline-end:0rem;}.elementor-14680 .elementor-element.elementor-element-1e8c1ad8{--width:100%;}.elementor-14680 .elementor-element.elementor-element-397c145d.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-14680 .elementor-element.elementor-element-31364221{--width:100%;--padding-block-start:10rem;--padding-block-end:10rem;--padding-inline-start:0rem;--padding-inline-end:0rem;}.elementor-14680 .elementor-element.elementor-element-31364221:not(.elementor-motion-effects-element-type-background), .elementor-14680 .elementor-element.elementor-element-31364221 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;}}/* Start custom CSS *//*   input number in quantity         */

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.single-product .site-content {
  margin-top: 12.55rem;
}
.fade.in {
  opacity: 1;
}

#waves.product-page-bottom {
  background-size: 100% 100%;
}

footer#tablet,
footer#mobile {
  margin: 0;
  background-color: #08456b;
  background-image: none;
}

.single-product #page .storefront-breadcrumb {
  display: none;
}
#product-content-wrapper {
  margin-top: 1rem;
}
#product-content-wrapper .container {
  width: 100%;
  max-width: 1015px;
  padding: 0 1.5rem;
}
/*  breadcrums*/
#page #product-content-wrapper .storefront-breadcrumb {
  display: block;
  max-width: 128rem;
  margin: 0 auto;
}
#page #product-content-wrapper .storefront-breadcrumb nav {
  display: none;
}
#page #product-content-wrapper .storefront-breadcrumb nav,
#page #product-content-wrapper .storefront-breadcrumb nav a {
  font-size: 14px;
  color: #00456a;
  font-weight: 500;
  text-decoration: none;
}
#page
  #product-content-wrapper
  .storefront-breadcrumb
  nav
  .breadcrumb-separator {
  margin: 0 1rem;
}

#page
  #product-content-wrapper
  .storefront-breadcrumb
  nav
  .breadcrumb-separator::after {
  color: #707070;
  opacity: 1;
  font-size: 1.4rem;
}

/* product feature main*/
.product-feature-main {
  width: 100%;
  padding: 4.5rem 0;
  margin: 0 auto;
  max-width: 143rem;
}

/*gallery  */

#product-content-wrapper .woocommerce-product-gallery__image > a > img {
  margin: 0 auto;
}
#product-content-wrapper .flex-control-nav.flex-control-thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
#product-content-wrapper .flex-control-thumbs li img {
  margin: 0 auto;
}
#product-content-wrapper .flex-control-thumbs li img.flex-active {
  border: 1px solid #05b1a9;
}

#product-content-wrapper .woocommerce-product-gallery__trigger {
  display: none;
}

/*product name */

#product_name h1 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #00456a;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 4rem;
}

h3.product-unit {
  color: #00456a;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 10px;
}

/* tier price*/

.prices-tier {
  padding: 1rem 0;
}
.prices-tier .items {
  list-style: none none;
  padding: 0;
  margin: 0;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.prices-tier li.item,
.prices-tier strong.benefit {
  margin-bottom: 0;
  font-size: 18px;
  font-style: italic;
  color: #13828a;
  font-weight: 700;
}

/* buy now button*/
form.cart .tpt__tiered-pricing,
form.cart .tinv-wishlist {
  display: none;
  visibility: hidden;
}

#buy_now button {
  width: 100%;
  padding: 1.4rem 2.8rem;
}
#buy_now button[disabled] {
  background-color: #bebebe;
  border-color: #bebebe;
}
#buy_now button:is(:hover, :active, :focus) > span {
  text-decoration: underline;
}

#buy_now .elementor-button-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
/*#buy_now .amount{*/
/*    margin-left: 2rem;*/
/*    position: relative;*/
/*}*/
#buy_now .amount::before {
  content: "";
  height: 3rem;
  width: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}
#buy_now .quantity {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#buy_now .quantity label > span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #00456a;
  text-transform: capitalize;
  margin-right: 2rem;
}
#buy_now .decrease-quantity,
#buy_now .increase-quantity {
  cursor: pointer;
  background: #00456c;
  height: 25px;
  width: 25px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  font-weight: 400;
  line-height: 37px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buy_now .quantity input.qty {
  text-align: center;
  background-color: #fff;
  height: 4rem;
  width: 5.4rem;
  padding: 0 0.9rem;
  font-size: 1.8rem;
  font-weight: 500;
}

#buy_now .elementor-button-content-wrapper {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 22px;
  font-weight: 700;
}

/* mor product info*/
a.more-product-info {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}

#stock_status .stock {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
}
#stock_status .stock::before {
  content: " ";
  width: 6px;
  height: 6px;
  border: 6px solid #23e118;
  background-color: #23e118;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 2px;
  right: 10px;
}
/* description   */

.product-disc {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.product-disc ul {
  margin-left: 15px;
  padding: 0;
  margin-bottom: 10px;
}

.product-disc ul li {
  margin-top: 0;
  margin-bottom: 1rem;
}
.product-disc ul li::marker {
  color: #00456b;
  font-weight: 700;
  font-size: 150%;
}
.product-disc ul li p {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #00456b;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 0;
}

.product-disc ul li p > strong {
  font-weight: 700;
  margin-right: 3px;
}
/*tabs*/

#faq_section_info .nav-tabs {
  border: 0;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
#faq_section_info .nav-tabs li {
  position: relative;
  display: block;
  border: 1px solid #ccc;
  margin: 0 5px 0 0;

  border-bottom: 0;
  background: #fbfbfb;

  flex: 1;
}
#faq_section_info .nav-tabs li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#faq_section_info .nav-tabs li.active {
  border: none;
  background: #0ab1a9;
}
#faq_section_info .nav-tabs li.active,
.product-tabs .nav-tabs li:hover {
  background-color: #05b1a9;
}

#faq_section_info .nav-tabs li a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  padding: 17px 0;
  color: #545454;
  text-transform: uppercase;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  text-transform: capitalize;
  padding: 13px 0;
}

#faq_section_info .nav-tabs > li.active > a {
  border: 1px solid #05b1a9;
  background-color: #05b1a9;
  color: #000;
  margin: 0;
}

#faq_section_info .nav-tabs li.active a:is(:hover, :active, :focus),
#faq_section_info .nav-tabs li:is(:hover, :active, :focus) a {
  color: #fff;
  background-color: #05b1a9;
  border: 1px solid #05b1a9;
  text-decoration: underline;
  cursor: default;
}

#faq_section_info .tab-content-wrapper {
  display: flex;
  height: auto;
  border: 1px solid #ccc;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#faq_section_info .tab-content {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 1.5rem;
  margin: 1rem 0;

  border: 0;
  min-height: 375px;
  height: 452px;
  overflow-y: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 0;
}
#faq_section_info .tab-pane {
  color: #696669;
  font-size: 16px;
  line-height: 25px;
}
#faq_section_info .tab-content > .tab-pane {
  display: none;
}
#faq_section_info .tab-content > .active {
  display: block;
}

#faq_section_info .tab-content #product6 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
#faq_section_info .tab-content #product6 > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#faq_section_info .product-info-details a {
  color: #000;
}
#faq_section_info .product-info-details a:is(:hover, :active, :focus) {
  text-decoration: underline;
  color: #05b1a9;
}
.product-info-details h3 {
  font-size: 24px;
  font-weight: 700;
  color: #08456b;
  display: block;
  margin: 10px 0;
  line-height: 3rem;
}

.product-info-details p,
.product-info-details li {
  font-size: 16px;
  font-weight: 400;
  color: #00456a;
}
.product-info-details p {
  margin: 0 0 10px;
}

/*     count med     */

#count_med {
  display: block;
  background-image: url(https://dev.rositarealfoods.co.uk/wp-content/uploads/2024/02/ModuleBG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 100px;
}
#count_med p {
  margin: 0 0 10px;
}
#count_med .key_container {
  position: relative;
  max-width: 100%;
  padding: 0 30px;
}

#count_med .key_container .col-md-7 {
  padding: 0;
}

#count_med .key_container > .row.text-white {
  margin: 0 -1.5rem;
}
#count_med .key_p {
  text-align: center;
  font-size: 26px;
  font-family: "Raleway-SemiBold";
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
  color: #fff;
  margin: 0 0 10px;
}
#count_med .key_p:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background: #099;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#count_med .key_container .col-md-7 .row.pt-1 {
  padding: 0 !important;
  margin: 0;
  margin-top: 0px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

#count_med .key_container .col-md-7 .row.pt-1 .col-md-4 {
  padding: 0 1.5rem;
  flex: 1;
}

#count_med .key_nu_f4 {
  position: relative;
}
#count_med .key_nu_f4::before {
  position: absolute;
  content: "";
  background: #eeb80d;
  width: 2px;
  left: -10px;
  top: 12px;
  height: 65px;
}

#count_med .key_nu_f4 h1 {
  color: #fff;
  font-weight: 500;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
#count_med .key_nu_f4 p {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
  color: #eeb80d;
}

#count_med p.unit-text {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 2.285rem;
}

#count_med .key_img {
  position: relative;
  bottom: -80px;
  right: 0;
  text-align: center;
}
#count_med .key_img img {
  max-width: 70%;
  height: auto;
  transform: scale(1);
  transform-origin: bottom left;
}
/* testing   */

.testing_block {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 1.3rem 0 2rem;
}
.testing_block .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 96%;
}

.testing_block .row {
  margin: 0 -15px;
}
.testing_block h2.inner-heading {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
.testing_block .table_block_warpper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.testing_block .table_block_warpper > .testing_block {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 1.3rem 0 2rem;
}

.testing_right_block {
  padding: 0;
  position: relative;
}
.testing_right_block p {
  font-size: 1.4rem;
  color: #5a5a5a;
}

.testing_right_block a.btn {
  display: block;
  background-color: #05b1a9;
  padding: 12px 20px;
  width: 90%;
  max-width: 200px;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 15px;
  font-weight: 700;
  color: #000;
  line-height: 16px;
  text-align: center;
  border: 1px solid transparent;
  margin: 0 auto;
}

.testing_right_block a.btn:is(:hover, :active, :focus) {
  background-color: #05a69e;
  border: 1px solid #05b1a9;
  color: #fff;
  text-decoration: underline;
}

/* testing-accordion*/

#testing-accordion {
  display: none;
  margin-bottom: 20px;
  max-width: 976px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#testing-accordion .panel {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  border-radius: 4px;
}
#testing-accordion .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 15px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#testing-accordion .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
#testing-accordion .panel-title a {
  display: inline-block;
  width: 100%;
  position: relative;
  text-decoration: none;
}

#testing-accordion .panel-title a span.title {
  color: #000;
}
#testing-accordion .panel-heading.active a span.title {
  color: #05b1a9;
}

 #testing_section  .collapse {
  display: none;
}
 #testing_section  .collapse.in {
  display: block;
}
 #testing_section  .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
#testing_section  .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
}
#testing_section  .panel-body {
  padding: 15px;
}
#testing_section   .tbl_scroll {
  width: 85vw;
  overflow: auto;
  margin: 3px 0;
}

#testing-accordion .panel-body {
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
}
#testing-accordion th,
#testing-accordion tr > td {
  background-color: #fff;
  text-align: center;
  padding: 11px 10px;
}
#testing-accordion th {
  font-weight: 700;
}
.tbl_scroll table tr td:nth-child(2n) {
  width: 20%;
}
#testing-accordion .panel-body p {
  margin: 25px 0 5px;
}

/* testimonial   */

.testimonial-content-main,
#testimonial_section {
  width: 100%;
  padding: 0 1.5rem;
  background-color: #f5f5f5;
  padding: 55px 0 46px;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

#testimonial_section .content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.testimonial-content-main .container {
  max-width: 1000px;
  width: 100%;
}

.testimonial-content-main .row {
  margin: 0 -15px;
}
h3.endorsed-title {
  font-size: 17px;
  color: #5a5a5a;
  font-weight: 700;
}
#testimonial_section .elementor-testimonial {
  position: relative;
  padding-top: 12rem;
}
#testimonial_section .elementor-testimonial__image {
  position: absolute;
  top: 0.5rem;
}

#testimonial_section .elementor-testimonial__footer {
  flex-direction: column;
}
#testimonial_section .elementor-testimonial__cite {
  flex-direction: row;
}
#testimonial_section .testimonial-wrapper img,
#testimonial_section .elementor-testimonial__image img {
  width: 108px;
  height: auto;
  object-fit: cover;
  margin: 0 auto 5px auto;
  display: inline-block;
  border-radius: 50%;
}
.testimonial-wrapper p,
#testimonial_section .elementor-testimonial__text {
  font-size: 1.5rem;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 2rem;
  font-family: "MyriadPro-Regular";
  margin-bottom: 10px;
}
.testimonial-wrapper h3,
#testimonial_section .elementor-testimonial__name,
#testimonial_section .elementor-testimonial__title {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #08456b;
  margin-bottom: 1.8rem;
}
.testimonial-wrapper h3 span,
#testimonial_section .elementor-testimonial__title {
  font-weight: 700;
}

.testimonial-content-main .owl-nav {
  margin-top: 0;
}
.testimonial-content-main .owl-dots .owl-dot span {
  height: 14px;
  width: 14px;
}

#testimonial_section .swiper-pagination-clickable .swiper-pagination-bullet {
  background: #d6d6d6;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  height: 14px;
  width: 14px;
}
#testimonial_section
  .swiper-pagination-clickable
  .swiper-pagination-bullet-active,
#testimonial_section
  .swiper-pagination-clickable
  .swiper-pagination-bullet:is(:hover, :active, :focus) {
  background: #fff;
  border: 2px solid #05b1a9;
}

/* related products   */
#related_products .upsells {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#related_products .upsells h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #5a5a5a;
  font-weight: 700;
  margin: 70px 0 30px;
}
#related_products .upsells > h2 {
  width: 100%;
  line-height: 3.08rem;
}
#related_products .upsells .products {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}
#related_products .upsells .products > * {
  flex: 1;
}

#related_products .upsells .woocommerce-loop-product__title,
#related_products .upsells .price {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #00456a;
  font-weight: 700;
  cursor: pointer;
}
#related_products .upsells a.button.product_type_simple.add_to_cart_button,
#related_products .upsells .tinv-wishlist {
  display: none;
}

#related_products li.product .star-rating {
  font-size: 1.6rem;
  color: #05b1a9;
}
#related_products .star-rating span::before {
  color: #05b1a9;
}

/*   m o b i l e  */
@media (max-width: 767px) {
  .product-feature-main {
    padding: 4.5rem 1.5rem;
  }
  #related_products {
    width: 100%;
    padding: 0 1.5rem;
  }
  #related_products .products {
    width: 100%;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
  }
  #related_products ul.products li.product {
    width: 50%;
    flex: 0 0 50%;
    padding: 0 1.9rem;
  }
  #related_products .upsells .woocommerce-loop-product__title {
    text-align: left;
  }
  .testing_right_block {
    padding: 0 !important;
  }
  /*count_med*/
  #count_med .key_container .col-md-7 .row.pt-1 {
    flex-wrap: nowrap;
  }
  #count_med .key_container .col-md-7 .row.pt-1 .col-md-4 {
    flex: 0 0 33.33%;
  }
  #count_med .key_img {
    display: flex;
    justify-content: center;
  }
  #faq_section_info .container {
    margin: 0 auto;
    width: 96%;
  }
  .testing_block .table_block_warpper {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .single-product .site-content {
    margin-top: 12.5rem;
  }
  .product-info-details h3 {
    line-height: 1.8rem;
  }

  /*gallery  */
  #product-content-wrapper .flex-control-nav.flex-control-thumbs {
    width: 100%;
    margin: 0 auto;
  }
  #product-content-wrapper .flex-control-nav.flex-control-thumbs li {
    flex: 1;
    margin: 0;
    padding: 0;
  }
  /* more info*/
  #faq_section_info .tab-content-wrapper {
    height: 53rem;
  }
  #faq_section_info .tab-content {
    padding: 4rem 3rem 2.5rem;
    margin: 30px 0 44px;
  }

  #faq_section_info .nav-tabs {
    flex-direction: row;
  }
  #faq_section_info .nav-tabs li {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  #faq_section_info .nav-tabs li:last-child {
    margin: 0;
  }
  #faq_section_info .nav-tabs li a {
    font-size: 1.5rem;
  }
  /*key nutritional facts*/

  #count_med {
    margin-top: 180px;
  }
  #count_med .key_container {
    max-width: 90%;
    padding: 25px 15px 40px;
  }
  #count_med .row.pb-5 {
    margin: 0 -15px;
  }
  #count_med .key_container .col-md-7 {
    padding-left: 60px;
  }
  #count_med .key_p {
    font-size: 2.6rem;
    text-align: left;
    line-height: 3.715rem;
  }
  #count_med .key_p:after {
    left: 0;
    transform: none;
  }
  #count_med .key_nu_f4::before {
    height: 95px;
    width: 3px;
    left: -21px;
    top: 28px;
  }
  #count_med .key_nu_f4 h1 {
    font-size: 7.5rem;
    line-height: 82.5px;
  }

  #count_med .key_nu_f4 p {
    font-size: 2.2rem;
    line-height: 3.143rem;
  }
  #count_med .key_img {
    position: absolute;
    bottom: 0px;
    right: 0;
  }
  #count_med .col-md-7,
  #count_med .col-md-4,
  #count_med .key_container .col-md-7 .row.pt-1 .col-md-4 {
    width: 100%;
  }
  #count_med .key_container .col-md-7 .row.pt-1 .col-md-4 {
    flex: 0 0 100%;
  }

  /*  testing*/
  .testing_block {
    padding: 9rem 0 7rem;
  }
  .testing_block p {
    font-weight: 300;
  }
  .testing_block .container {
    max-width: 85%;
  }
  .testing_block h2.inner-heading {
    font-size: 3rem;
  }
  .testing_right_block {
    padding-left: 30px;
  }
  .testing_right_block p {
    font-size: 1.5rem;
  }
  .testing_right_block a.btn {
    padding: 1.8rem 2rem;
    font-size: 1.9rem;
    line-height: 2rem;
    max-width: 27rem;
    width: 27rem;
    margin-top: 1.2rem;
  }

  /* testing-accordion*/
  .tbl_scroll {
    width: 100%;
  }

  /*testimonial */
  #testimonial_section .elementor-testimonial__text {
    font-size: 2.5rem;
    line-height: 3.4rem;
    margin-bottom: 2rem;
  }
  #testimonial_section .elementor-testimonial__name {
    font-size: 1.4rem;
    line-height: 1.54rem;
  }

  /* related_products*/
  #related_products .upsells .products > * {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 1024px) {
  /*#masthead{*/
  /*    position:sticky;*/
  /*}*/
  .product-feature-main {
    padding: 8.3rem 0 6rem;
  }
  .testing_block .container {
    max-width: 97.6rem;
  }
}

@media screen and (min-width: 1200px) {
  #count_med .key_container {
    width: 140rem;
  }
  #count_med .key_container > .row.text-white {
    padding-bottom: 0 !important;
    margin: 0 -15px;
  }
  #count_med .col-md-4,
  #count_med .key_container .col-md-7 .row.pt-1 .col-md-4 {
    width: 33.33333333%;
    padding: 0 1.5rem;
    flex: 0 0 33.33333333%;
  }
  #count_med .col-md-7 {
    width: 58.33333333%;
  }
  #count_med .col-md-5 {
    width: 41.66666667%;
    padding: 0 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  #count_med .key_container .col-md-7 .row.pt-1 {
    margin: 0;
    padding-left: 2.5rem !important;
  }
  #count_med .key_img {
    position: static;
  }

  #product-content-wrapper .slider-right {
    margin-left: auto;
  }
  /* related_products*/
  #related_products .upsells .products {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  #related_products .upsells .products > * {
    flex: 0 0 25.33%;
    width: 25.33%;
    padding: 0 0.8rem;
  }

  #related_products .upsells .products > *:not(:first-child) {
    margin-left: 2rem;
  }
}/* End custom CSS */