.elementor-9264 .elementor-element.elementor-element-3bda653a{--display:flex;--min-height:100vh;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-2a45255b{--display:flex;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-2a45255b, .elementor-9264 .elementor-element.elementor-element-2a45255b::before{--border-transition:0.3s;}.elementor-9264 .elementor-element.elementor-element-586112ff{--display:flex;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-3e8d9bbf{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-4f1733f8 img{width:4rem;max-width:100%;}.elementor-9264 .elementor-element.elementor-element-4f1733f8 > .elementor-widget-container{margin:0rem 2rem 0rem 0rem;padding:0px 0px 0px 0px;}:root{--page-title-display:none;}body.elementor-page-9264{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body.elementor-page-9264:not(.elementor-motion-effects-element-type-background), body.elementor-page-9264 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(min-width:768px){.elementor-9264 .elementor-element.elementor-element-586112ff{--width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-9264 .elementor-element.elementor-element-3bda653a{--width:100%;}.elementor-9264 .elementor-element.elementor-element-2a45255b{--width:100%;}}@media(max-width:1024px){.elementor-9264 .elementor-element.elementor-element-2a45255b{--gap:0px 0px;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-586112ff{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-3e8d9bbf{--gap:0px 0px;}.elementor-9264 .elementor-element.elementor-element-4f1733f8 > .elementor-widget-container{margin:0rem 2rem 0rem 0rem;padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-9264 .elementor-element.elementor-element-2a45255b{--min-height:100vh;--gap:0px 0px;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-586112ff{--width:100%;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9264 .elementor-element.elementor-element-6522a5a5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-9264 .elementor-element.elementor-element-3e8d9bbf{--gap:0px 0px;}.elementor-9264 .elementor-element.elementor-element-4f1733f8 > .elementor-widget-container{margin:0rem 2rem 0rem 0rem;padding:0px 0px 0px 0px;}}/* Start custom CSS for image, class: .elementor-element-4f1733f8 */.elementor-9264 .elementor-element.elementor-element-4f1733f8:is(:active, :hover, :focus, :focus-visible),
.hero_image  a:is(:active, :hover, :focus, :focus-visible){
    outline: none;
    border: none;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-586112ff */.hero_banner {
    background-image: url(https://dev.rositarealfoods.co.uk/wp-content/themes/storefront-child/assets/images/about_hero_banner.jpg) !important ;
    background-position: bottom center;
    text-align: center;
    color: #fff;
    padding: 15.8rem 0 10rem;
    background-size: cover;
    background-repeat: no-repeat;

    h1.test_h1_italy {
      font-family: "MegaFresh", "Dancing Script", cursive;
      color: #fff;
      opacity: 1;
      font-size: 7rem;
      top: 0;
      letter-spacing: 2px;
      font-weight: 400;
      margin: 0;
    }

    p {
      font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 2.6rem;
      text-align: center;
      position: relative;
      top: 25px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-family: "Raleway-SemiBold";
        font-size: 1.4rem;
        color: #fff;
      }
    }

    .hero_image {
      cursor: pointer;
    }

    img.hero_image {
      width: 4rem;
      margin-right: 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    .hero_banner {
      h1.test_h1_italy {
        font-size: 15.5rem;
      }
    }
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-35a434cc */.row {
    margin: 0 -1.5rem;
  }
  .secondary_color {
    color: #09b0a9;
  }
  .main_text_color {
    color: #08456b;
  }
  #content .col-full {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .card-title {
    --bs-card-title-color: #08456b;
    color: var(--bs-card-title-color);
    font-family: "Raleway-Bold";
    font-size: 2.4rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 2.64rem;

    &::after {
      content: "";
      display: block;
      position: relative;
      top: 20px;
      width: 10rem;
      height: 3px;
      background-color: #ecb700;
    }
  }

  .about-main p {
    font-family: "Raleway";
    font-weight: 400;
    line-height: 2.4rem;
    color: #757575;
  }
  .middle_area {
    padding: 3rem 0;
    background-color: #fff;

    .container.about-us {
      padding: 0 1.5rem;
      margin: 0 auto;
    }

    .row {
      margin: 0 -1.5rem;

      .col-sm-6 {
        padding: 0 1.5rem;
      }
      .img {
        padding-top: 5rem;
      }
      .info {
        padding: 5.5rem 3rem 0;

        h2.secondary_color {
          display: none;
        }

        h3.main_text_color {
          color: #08456b;
          font-size: 3.6rem;
          font-family: "Raleway-Bold";
          font-weight: 700;
          line-height: 4.32rem;
          margin-bottom: 1.5625rem;
          border: none;
        }

        p {
          color: #595959;
          font-size: 1.6rem;
          font-family: "Raleway-Light";
          font-weight: 400;
          line-height: 2.4rem;
        }
      }
    }
  }

  .about-blog {
    padding: 1.875rem 0;
    margin: 1.875rem 0 0 0;
    text-align: center;
    background-color: #fff;

    .bg-icon.bg-icon-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      overflow: hidden;
      width: 100%;

      .bg-icon-image {
        background-image: url(https://www.rositarealfoods.co.uk/media/wysiwyg/about/about-watermark.png);
        background-repeat: no-repeat;
        height: 100%;
        overflow: hidden;
        background-size: 41%;
        background-position-x: right;
        position: absolute;
        left: auto;
        right: -8%;
        top: 0;
      }
    }

    .container {
      margin: 0 auto;
      padding: 0 1.5rem;

      .top {
        background-color: #fff;
        padding: 3rem 0;

        h2.secondary_color.text-center {
          font-size: 2rem;
          font-family: "Raleway-SemiBold";
          font-weight: 500;
          line-height: 2.4rem;
          border-bottom: none;
        }
        h2.test_h1_italy {
          font-family: "Megafresh";
          font-size: 5.6rem;
          font-weight: 400;
          line-height: 5.6rem;
          color: #07456b;
          padding: 1rem 0;
          margin-bottom: 1rem;
        }
        img.img-fluid {
          margin-inline: auto;
          max-width: 30rem;
        }
      }
    }
  }

  .blog-container {
    row-gap: 2rem;
    background-color: #fff;
    padding: 3rem 0;

    .col-sm-4 {
      .card {
        margin-bottom: 2rem;
        border-radius: 0;
        border: 5px solid #fff;
        box-shadow: -10px 0px 25px 0px #ddd;
        height: max(60rem, 100%);
        text-align: initial;
      }

      .card-body {
        padding: 1.5rem;
      }

      .card-text {
        font-size: 1.6rem;
        color: #828181;
        min-height: 26.4rem;
        line-height: 2.4rem;
        font-family: "Raleway";
        font-weight: 400;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .middle_area {
      .row {
        .col-sm-6.img {
          padding-top: 18.5rem;
        }
        .col-sm-6.info {
          padding-top: 11.5rem;
          padding-left:11.3rem;
          padding-right: 1.5rem;

          h2.secondary_color {
            display: block;
            font-size: 2.6rem;
            line-height:2.6rem;
            font-family: "Raleway";
            font-weight: 400;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            text-decoration: none;
          }
          
          p{
              font-size: 2rem;
              line-height:3rem;
          }
        }
      }
    }

    .about-blog {
      margin-top: 5rem;

      .container {
        .top {
          h2.secondary_color.text-center {
            font-size: 3.4rem;
            line-height: 4.8rem;
          }
          h2.test_h1_italy {
            font-size: 9rem;
          }
        }
      }
    }

    .blog-container {
      row-gap: 0;

      .col-sm-4 {
        .card {
          margin: 0;
        }
        .card-body {
          padding: 4.5rem;
        }
      }
    }
  }
  @media screen and (min-width: 1400px) {
    .middle_area {
      .container.about-us {
        max-width: 113rem;
      }
    }

    .about-blog .container {
      max-width: 113rem;
    }
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6eec189d */.middle-banner {
    background-color: #fff;
    position: relative;
    margin: 0;

    img.img-fluid {
      width: 100%;
      border: none;
    }

    .card {
      padding: 3rem;
      margin-inline: auto;
      background-color: #fff;

      .card-body {
        .card-title {
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 3.52rem;
          margin-bottom: 2rem;
          padding-bottom: 3rem;
        }

        .card-text {
          p {
            font-size: 1.6rem;
          }
          .col-sm-6 {
            padding: 0 1.5rem;
          }
        }
      }

      .left {
        p {
          span {
            font-size: 1.6rem;
            color: #08456b;
            line-height: 2.4rem;
          }
        }
      }
      .right p span {
        font-size: 1.6rem;
        font-family: "Raleway-SemiBold";
        color: #09b0a9;
        font-weight: 400;
        line-height: 2.4rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .middle-banner {
      margin-bottom: -32rem;

      .card {
        position: relative;
        margin: 0 auto;
        max-width: 90%;
        border: 0;
        padding: 6.5rem 8rem;
        border-radius: 10px 10px 0 0;
        top: -320px;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        
        .card-body{
            .card-text{
                p {
                    font-size:2rem;
                    line-height:3rem;
                }
            }
        }

        .right  {
          padding-right: 3rem;
         
        }
        .left p {
          padding-left: 3rem;

          span {
            font-size: 2rem;
            line-height: 3rem;
          }
        }

        .right p span {
          font-size: 2rem;
          line-height: 3rem;
        }
      }
    }
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5baec097 */.about-bottom {
    background-color: #fff;

    .container.about-us {
      padding: 3rem 1.5rem 7.5rem 1.5rem;
      margin-inline: auto;

      .row {
        margin: 0 -1.5rem;
      }
    }

    .col-sm-6 {
      padding: 0 1.5rem;
    }
    .info-left {
      padding: 5rem 3rem 0;

      .main_text_color {
        font-family: "Raleway-Bold";
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 4.32rem;
        font-style: normal;
        margin-bottom: 2.5rem;
      }

      p.text_p_color {
        color: #595959;
        font-size: 1.6rem;
        font-family: "Raleway-Light";
        font-weight: 400;
        line-height: 2.4rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .about-bottom {
      padding-top: 5rem;

      .info-left {
        padding-left: 11.3rem;
        padding-right: 1.5rem;
        padding-top:0;

        p.text_p_color {
          font-size: 2rem;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .about-bottom {
      .container.about-us {
        max-width: 113rem;
      }
    }
  }/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2a45255b */.about-us-content{
    margin: 0;
    padding: 0;
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3bda653a */* , *::after, *::before{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
   
    
    .storefront-breadcrumb{
        display: none;
    }
#content .col-full{
    max-width: 100%;
    padding: 0;
    margin: 0;
    
  
}
#about-us-page {
 background-color: #fff;
}
#about-us-page .row {
  margin: 0 -1.5rem;
}

.about-main{
    width: 100%;
    padding: 0;
    margin: 0;
    padding-block-start:0;
    padding-block-end: 0;
}/* End custom CSS */